body{
    background-color: #ffaab1;
    font-family: "Cherry Bomb One", system-ui;
    max-width: 720 px;
}

.nametag_outside{
  position: relative;
  width: 400px;
  margin-top:40px;
  margin: auto;
  border-style: solid;
  border-radius: 25%;
  background-color: brown;
}

.topbar{
  position: relative;
  width: 100%;
  top: 0px;
}

.nametag_inside{
    width: 380px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: bisque;
    border-radius: inherit;
    border-style: inherit;
    height: 80px;
}

.table{
  display: table;
  margin-top: 40px;
  width: 600px;
  height: 60px; 
  margin-left: auto;
  margin-right: auto;
}

.button{
  height: 100px;
  border-color: rgb(255, 0, 221);
  width: 120px;
  border-radius: 15%;
  font-family: "Cherry Bomb One", system-ui;
  background-color: rgb(253, 189, 255);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#sleepcounter{
  color: white;
  text-align: center;
  font-size: 60px;
}

#doggySpace{
  width: 100%;
  margin: auto;
}
#doggyImage{
  width: 600px;
  height: auto;
  margin: inherit;
  display: block;
}


#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}